label {
  color: white !important;
}
.contenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 996px) {
  h1, h2 {
    font-size: 2em;
  }
  form, .acceuil {
    max-width: 1000px;
  }
  .conteneur, .ele, .elem {
   display: flex;
   flex-direction: column;
  }
  .acceuil {
    display: flex;
   flex-direction: column;
  }
  .contenu {
        display: flex;
        flex-direction: column;
    }
    .contenu img {
        order: -1;
    }
}
